#wrap {
   display: grid;
   /* grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 2fr 1fr 1fr 1fr; */
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-template-areas:
      "header . . ."
      "recent recent form form"
      "recent recent form form"
      "recent recent form form"
      ". . form form"
      "footer . right-text right-text";
   row-gap: 10px;
   column-gap: 10px;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   /*font-family: "SFProDisplay-Regular, Helvetica, Arial, sans-serif";*/
   background-color: #f0f2f5;
   height: 100vh;
}

#header {
   background-color: #f0f2f5;
   /* grid-column: 1 / 3;
   grid-row: 1 / 2; */
   /* align-self: end; */
   grid-area: header;
}

#header img {
   width: 240px;
   height: 50px;
}

#recent-logins {
   background-color: #f0f2f5;
   /* grid-column: 1 / 2;
   grid-row: 2 / 4;
   justify-self: center; */
   font-size: 2rem;
   grid-area: recent;
   /*border: 2px solid black;*/
}

#recent-logins img {
   height: auto;
   width: 12rem;
   border-radius: 10px;
}

#recent-logins p {
   color: #606770;
}

#form {
   /*  background-color: #f0f2f5;*/
   background-color: white;
   /* grid-column: 2 / 3;
   grid-row: 2 / 4; */
   grid-area: form;
   /*border: 2px solid black;*/
   border-radius: 25px;
   box-shadow: 0px 10px 10px #dcdde0;
}

#form li {
   list-style-type: none;
   margin: auto;
   text-align: center;
   /*border: 2px solid gray;*/
}

#form li input {
   width: 80%;
   height: 75px;
   margin-top: 1.25rem;
   border-radius: 10px;
}

#form li a {
   height: 75px;
   margin-top: 200px;
}

#form #login {
   color: white;
   background-color: #1877f2;
}

#form #new {
   color: white;
   background-color: #36a420;
   width: 50%;
}

#right-text {
   background-color: #f0f2f5;
   /* grid-column: 2 / 3;
   grid-row: 4 / 5;
   justify-self: center; */
   grid-area: right-text;
   justify-self: center;
}

#footer {
   background-color: white;
   /* grid-column: 1 / 3;
   grid-row: 5 / 6; */
   grid-area: footer;
   align-self: flex-end;
}
